<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mk.mapper.BusinessMapper">

	<!-- 1、根据车牌号、订单状态查询 -->
	<select id="selectBusinessByNumber" resultType="com.mk.entry.Business">
		SELECT * FROM business 
		<where>
			<if test="arg0!=null and arg0!='' ">
				licensenumber = #{arg0} 
			</if>
			<if test="arg1!=null and arg1!='' ">
				and b_status = #{arg1} 
			</if>
		</where>
		LIMIT #{arg2},#{arg3}
	</select>
	
	<!-- 2、根据车牌号查询到的记录总数 -->
	<select id="selectCountOfBusinessWithNumber" resultType="java.lang.Integer">
		SELECT count(1) FROM business 
		<where>
			<if test="arg0!=null and arg0!='' ">
				licensenumber = #{arg0} 
			</if>
			<if test="arg1!=null and arg1!='' ">
				and b_status = #{arg1} 
			</if>
		</where>
	</select>
	
	<!-- 3、添加业务信息 -->
	<insert id="insertBusiness" parameterType="com.mk.entry.Business">
		INSERT INTO business 
		VALUES(#{b_id},#{licensenumber},#{c_id},#{amount}, #{b_date},#{b_status},#{remark})
	</insert>
	
	<!-- 4、删除信息 -->
	<delete id="deleteBusiness" parameterType="java.lang.String">
		delete from business where b_id=#{id}
	</delete>
	
	<!-- 5、返回业务订单信息列表 -->
	<select id="selectBusinessList" resultType="com.mk.entry.Business">
		SELECT * FROM business 
		LIMIT #{arg0},#{arg1}
	</select>
	
	<!-- 6、通过订单编号获取信息 -->
	<select id="selectBusinessById" parameterType="java.lang.String" resultType="com.mk.entry.Business">
		select * from business where b_id = #{id}
	</select>
	
	<!-- 7、根据车牌号修改订单状态 -->
	<update id="updateBusinessStatus">
		UPDATE business SET b_status=#{arg1} 
		WHERE licensenumber = #{arg0}
	</update>
	
	<!-- 8、根据车牌号将订单从一种状态转为另一种状态 -->
	<update id="updateBusinessStatusOneToAnother">
		update business SET b_status=#{arg2} 
		WHERE licensenumber = #{arg0} and b_status = #{arg1}
	</update>
	
</mapper>