<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.mk.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <description>Spring容器加载监听器</description>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <description>设置Spring加载时的配置文件位置，默认位置在web-inf/lib下</description>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>CarryServlet</display-name>
    <servlet-name>CarryServlet</servlet-name>
    <servlet-class>com.mk.controller.CarryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarryServlet</servlet-name>
    <url-pattern>/CarryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarServlet</display-name>
    <servlet-name>CarServlet</servlet-name>
    <servlet-class>com.mk.controller.CarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarServlet</servlet-name>
    <url-pattern>/CarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CargoServlet</display-name>
    <servlet-name>CargoServlet</servlet-name>
    <servlet-class>com.mk.controller.CargoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargoServlet</servlet-name>
    <url-pattern>/CargoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessServlet</display-name>
    <servlet-name>BusinessServlet</servlet-name>
    <servlet-class>com.mk.controller.BusinessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessServlet</servlet-name>
    <url-pattern>/BusinessServlet</url-pattern>
  </servlet-mapping>
</web-app>